@model ReservationInputDto


@for (var i = 0; i < Model.Services.Count;i++)
{
    var item = Model.Services[i];
    @Html.HiddenFor(l => Model.Services[i].ServiceId)

    <div>
        @Html.CheckBoxFor(l => Model.Services[i].Enabled)
        @Html.LabelFor(l => Model.Services[i].Enabled,item.Name)
    </div>
    @if (!item.Unitless || item.Extra)
    {
        var htmlAttributes = new Dictionary<string,object>
        {
            
        };
        if(!item.Enabled)
        {
            htmlAttributes.Add("disabled","disabled");
        }

        <div class="form-group">
            @Html.EditorFor(l => Model.Services[i].Units, new {htmlAttributes = htmlAttributes}) @item.UnitDescription
            @Html.ValidationMessageFor(l => Model.Services[i].Units,null, new {style="display:block"})
        </div>
    }
}
